dist/
node_modules/
.sites-runtime/
*.zip
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/captures/
android/.idea/
android/*.iml
android/app/release/
*.apk
*.aab
*.keystore
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
